body {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
}
.jumbotron {
    background-image: url(//assets/backgrounds/h_img.jpg);
}
#img1{
    padding-top: 90px;
    padding-bottom: 50px;
    cursor: pointer;
}
#img2 {
    padding-top: 100px;
    cursor: pointer;
}
#jumbotron {
    background-image: url(../assets/backgrounds/h_img.jpg);
    color: white;
    background-size: cover;
}
#jumbotron-2 {
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}
#whatwedo {
    padding-bottom: 40px;
}
.portfolioImg {
    width: 250px;
    height: 180px;
    cursor: pointer;
}
.img-wrap {
    position: relative;
    height: 100%;
    width: 100%;
}
.text {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color:black;
    visibility: hidden;
    opacity: 0;
    text-align: center;
}
.img-wrap:hover .text {
    visibility: visible;
    opacity: 1;
}
form {
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    color: white;
}
.form-control {
    background-color: inherit;
}
.form-control::placeholder {
    color: white;
}
textarea {
    background-color: inherit;
}
::placeholder {
    color: white;
}
button {
    color: white;
    background-color: inherit;
}
.social {
    cursor: pointer;
}
#hidden {
    display: none;
}
