body {
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
}
.jumbotron {
    background-image: url(//assets/backgrounds/h_img.jpg);
}
#img1{
    padding-top: 90px;
    padding-bottom: 50px;
    cursor: pointer;
}
#img2 {
    padding-top: 100px;
    cursor: pointer;
}
#jumbotron {
    background-image: url(../assets/backgrounds/h_img.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;

}